@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Take a look at some T-Shirts <a asp-area=""asp-controller="TShirts" asp-action="Index">View T-Shirts</a>.</p>
    <p>Dream up a T-Shirt <a asp-area="" asp-controller="TShirts" asp-action="Create">Create a T-Shirt</a>.</p>
</div>
